## Data files
*Rdata
EventsList-37.csv

## Setup files
setup.R
setup_shiny.R

## Dropbox files
scristia-droptoken.rds
droptoken.rds
.httr-oauth
*.rds
*.httr-oauth

## Gmail
*.gmail_private
gmail_acct.gmail_private

## Misc
rsconnect
Old

## Schedule files
*.xlsx



## R History files
*.Rhistory

